
/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }



/* Estilizando com o Flexbox*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e7eaf3;

}

header .car-icon{

    
    max-width: 80px;
    max-height: 80px;
    color: #a2a8d3;
}

header{
    max-height: 12vh;
    display: flex;
    padding-inline: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    align-items: center;
    color: #5c5470;
}


header h1{
        
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    


}

#ul-navbar{
    display: flex;
    gap: 20px;
    font-size: 20px;
}

#ul-navbar a{
    color: #5c5470;
    text-decoration: none;


    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;

}

main h1{

    display: flex;    
    justify-content: center;
    padding-bottom: 2%;

    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;

    color: #5c5470;


}

main h2{
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 2%;

    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;

    color: #5c5470;


}


main article p{
    display: flex;
    justify-content: center;
    padding-inline: 5%;
    padding-bottom: 2%;

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: #5c5470;

}

